body{
    background-color: rgb(239, 207, 224);
}
header >div{
    display: flex;
    text-align: center;
    /* justify-items: r; */
    justify-content: space-around;
    
}
.paul{
    float: right; 
    padding-left: 45px;
}
.imag{
    width: auto;
    height: 350px;
    border-radius: 30px;
    padding-left: 20px;
}
.Ezeta{
    font-size: 60px;
}
.Ezeta{
    margin: 0px;
}
body >main >p{
    margin: 0px;
}
main >div >h1{
    background-color: blueviolet;
    font-size: 45px;
}
main >div >ul{
    padding-left: 2px;
}
main >div >ul >h1{
    background-color: blueviolet;
}
main >div >ul >li{
    font-size: 30px;
}
main >div > ul{
    padding-left: 70px;
}

footer >div{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
.SELF{
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 0;
}
h1{
    margin-bottom: 2px;
}
.font{
    margin: 0px;
}
html{
    display: flex;
}
